*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#03030d;
color:white;
font-family:Montserrat,sans-serif;
}

.hero{
  height:850px;
  position:relative;
  background:url("image/hero.png") center center/cover no-repeat;
  overflow:visible;
}

.overlay{
    position:absolute;
    inset:0;

    background:
    linear-gradient(
    90deg,
    rgba(3,3,13,.35),
    rgba(3,3,13,.10)
    ),

    radial-gradient(
    circle at 30% 40%,
    rgba(0,102,255,.15),
    transparent 40%
    ),

    radial-gradient(
    circle at 70% 40%,
    rgba(255,0,70,.15),
    transparent 40%
    );
}

nav{
position:relative;
z-index:10;

display:flex;
justify-content:space-between;
align-items:center;

padding:30px 60px;
}

.logo{
font-family:Cinzel;
font-size:2rem;
}

.logo span{
display:block;
font-size:.8rem;
letter-spacing:4px;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav a{
color:white;
text-decoration:none;
font-size:.9rem;
}

.active{
color:#ff2f65;
}

.social{
display:flex;
gap:20px;
font-size:1.2rem;
}

.hero-text{
position:absolute;
left:8%;
top:50%;
transform:translateY(-50%);
z-index:10;
}

.hero-text h1{
font-size:7rem;
font-family:Cinzel;
}

.hero-text h2{
font-size:3rem;
font-family:Cinzel;
margin-bottom:30px;
}

.hero-text p{
letter-spacing:4px;
line-height:2;
margin-bottom:30px;
}

.buttons{
display:flex;
gap:15px;
}

.btn{
padding:15px 30px;
border-radius:6px;
text-decoration:none;
}

.red{
background:#ff2f65;
}

.blue{
background:#0066ff;
}

.player-box{
    max-width:1200px;
    margin:-120px auto 40px;
    position:relative;
    z-index:100;
}

margin:-60px auto 40px;

background:#070b18;

padding:25px;

border:1px solid rgba(255,255,255,.08);

display:flex;
align-items:center;
gap:20px;

border-radius:10px;
}

.music-cover{
width:70px;
height:70px;
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(
45deg,
#0066ff,
#ff2f65
);
border-radius:8px;
}

.wave{
flex:1;
height:40px;

background:
linear-gradient(
90deg,
#0066ff,
#ff2f65
);

opacity:.5;
border-radius:20px;
}

.cards{
max-width:1200px;
margin:auto;

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:20px;
}

.card{
background:#080d1d;
border:1px solid rgba(255,255,255,.05);

padding:20px;
border-radius:10px;

min-height:320px;
}

.card h4{
text-align:center;
color:#ff2f65;
margin-bottom:20px;
}

.card img{
width:100%;
border-radius:8px;
}

.gallery{
display:grid;
grid-template-columns:1fr 1fr 1fr;
gap:5px;
}

footer{
text-align:center;
padding:60px;
font-family:Cinzel;
font-size:1.2rem;
}
